h2 Про проект ЛьвівБайк
p Ресурс для велосипедистів насамперед Львова і околиць. Основна ідея - ділимось будь-якими ідеями щодо веломаршрутів, котрі здались для нас цікавими і вартими того, щоб ними поділитися з іншими велосипедистами.
p Адже не цікаво, або не завжди цікаво, маючи вільний час та бажання провести його на велосипеді, їхати покататись до Оперного по стометрівці, чи шумними проспектами або вулицями, котрі, знайомі нам давно. І просто нема ідей, куди б з'їздити.
p Пропонуємо випробовувати веломаршрути, представленні на сайті. База завжди в процесі оновлення. Також кожен зареєстрований учасник має змогу додавати свої маршрути, ставити коменти та оцінювати.
p Долучайтесь, буде цікавіше!