/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import 'normalize';
@import 'bike_routes';
@import 'bike_lanes_map';
@import 'feedbacks';
@import 'comments';
@import 'divese';

* {
  -webkit-font-smoothing: antialiased;
}

html, body {
  font-family: 'Ubuntu', Charter, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

.flash_notice, .flash_alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #fbeed5;
  //-webkit-border-radius: 4px;
  //-moz-border-radius: 4px;
  //border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
}
.flash_notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.flash_alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.main_messages {
  .flash_notice, .flash_alert {
    padding-top: 90px;
  }
}

a.back_to_top {
  display: none;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background: #33CD99 /*asset_url*/url("up_arrow.png") no-repeat center 43%;
  text-indent: -9999px;
  //border-radius: 30px;

  &:hover {
    background: #41cfdd /*asset_url*/url("up_arrow.png") no-repeat center 43%;
  }
}

.round_button {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  border-radius: 1.5em;
  &:hover {
    border: 1px solid #33acb7;
    color: #33acb7;
    a {
      color: #33acb7 !important;
    }
  }
}

.button_without_border {
  outline: none;
  background: transparent;
  border: none;
  padding: .5em .5em;
  &:hover {
    color: #33acb7;
    a {
      color: #33acb7 !important;
    }
  }
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1.75rem 0;
  border-bottom: 7px solid #33CD99;
  background: #2B2E2E;
  color: #f5fbff;
  nav {
    display: inline;
    a {
      text-decoration: none;
      color: white;
      margin-left: 1rem;
      &:hover {
        color: #33CD99;
      }
    }
  }
  p {
    display: inline;
  }
  a {
    color: #f5fbff;
    text-decoration: none;
  }
  .page_title {
    font-size: 1.4em;
  }
  .buttons {
    padding-right: 1em;
    float: right;
    .round_button {
      font-size: .8em;
      margin-left: .5em;
    }
  }
  .login_label {
    float: right;
    display: inline;
    font-size: .9em;
    padding-top: 0.2em;
  }
  .title_buttons {
    display: inline;
    padding-right: 2.5em;
    .round_button {
      font-size: .8em;
      margin-left: .5em;
    }
  }
  .button_without_border {
    display: inline;
    margin-top: -6px;
    margin-bottom: -8px;
  }
}

#footer {
  padding: 2em 5%;
  margin-top: 5em;
  border-top: 7px solid #33CD99;
  background: #2B2E2E;
  color: #f5fbff;
  font-size: .8em;
  text-align: center;
  p {
    display: inline;
  }
  a {
    color: #f5fbff;
    text-decoration: none;
  }
  .copyright{
    float: left;
  }
}

.content_wrapper {
  padding-top: 80px;
  padding-bottom: 50px;
  .index_view_wrapper {
    .under_list_content {
        padding-left: 20px;
        padding-top: 10px;
    }
    .list_item_wrapper {
      padding: 1.5em;
      border-bottom: 1px solid #d6dce0;
      span {
        font-size: .7em;
      }
      a {
        text-decoration: none;
        color: #1c5b47;
        font-size: 1em;
        padding-right: 1.2em;
        &:hover {
          color: #33acb7;
        }
      }
      .title {
        margin: 0;
      }
      .description {
        font-weight: 500;
        color: #2a2f35;
        margin: .5em 1.2em 0 0;
        width: 70%;
        display:inline-block;
      }
      .date {
        color: #798a95;
        margin: .5em 1.2em 0 0;
        display:inline-block;
      }
      .author {
        margin: .5em 1.2em 0 0;
      }
    }
  }

  #form_wrapper {
    width: 60%;
    padding: 0 3em 3em 3em;
    .info_block {
      background-color: rgba(240, 174, 182, 0.39);
      padding: 10px;
      margin-bottom: 30px;
      border-radius: 7px;
      .info_block_title {
        font-size: 1em;
        margin-bottom: 0.2em;
      }
      .info_paragraph {
        font-size: 0.8em;
        margin-bottom: 0.1em;
      }
    }
    .form {
      width: 80%;
      div {
        padding-bottom: 20px;
      }
      textarea {
        height: 250px;
      }
    }
  }

  #detail_wrapper {
    padding: 1em 3em;
    margin: .5em 0 2em 0;
    span {
      font-size: .8em;
    }
    .title {
      font-size: 1.3em;
      line-height: 1;
    }
    .author {
      font-weight: 500;
      text-decoration: none;
      color: #2a2f35;
    }
    .description {
      color: #2a2f35;
      width: 70%;
      display:inline-block;
    }
    .bike_route_map {
      iframe {
        width: 740px;
        height: 380px;
      }
    }
    .date {
      color: #798a95;
    }
  }

  #comments {
    h2 {
      margin: 3em 0 1em 0;
      border-bottom: 1px solid #d6dce0;
      padding-bottom: 0.5em;
    }
    h3 {
      //margin-top: 1em;
    }
    .comment {
      padding: .1em 2em 3em;
      margin-bottom: 3em;
      .comment_content {
        float: left;
        .comment_name {
          margin: 1em 0 0 0;
          font-size: 0.7em;
          text-transform: uppercase;
        }
        .comment_body {
          font-size: 1.2em;
          margin: 0.2em 0 0 0;
        }
        .comment_time {
          margin-top: 1.2em;
          font-size: .8em;
        }
      }
      .button {
        float: right;
      }
    }
    input[type="text"], textarea {
      width: 95%;
    }
  }
}

input[type="text"], input[type="email"], input[type="password"], textarea, input[type="number"] {
  width: 90%;
  border: 1px solid #d6dce0;
  border-radius: .35em;
  margin-top: 10px;
  padding: .5em 1em;
  line-height: 1.75;
}
input[type="text"] {
  height: 30px;
}
textarea {
  min-height: 180px;
}
input[type="number"] {
  height: 30px;
  width: 40%;
  border-left: 1px solid #BBB;
  opacity: .5;
}
input[type="submit"] {
  outline: none;
  background: transparent;
  border: 1px solid #d6dce0;
  padding: .5em 1.5em;
  font-size: 1.1em;
  border-radius: 1.5em;
  margin-left: .5em;
  &:hover {
    border: 1px solid #33acb7;
    color: #33acb7;
  }
}